@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply
    font-bold
    text-[40px]
    leading-[120%]
    md:text-[56px]
  }

  h2 {
    @apply
    font-bold
    text-[36px]
    leading-[120%]
    md:text-[48px]
  }

  h3 {
    @apply
    font-bold
    text-[32px]
    leading-[120%]
    md:text-[40px]
  }

  h4 {
    @apply
    font-bold
    text-[24px]
    leading-[140%]
    md:text-[32px]
    md:leading-[130%]
  }

  h5 {
    @apply
    font-bold
    text-[20px]
    leading-[140%]
    md:text-[24px]
  }

  h6 {
    @apply
    font-bold
    text-[18px]
    leading-[140%]
    md:text-[20px]
  }
}